{% extends "base/bootstrap.html" %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />
{% endblock %}
{% block javascripts %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<!-- Additional files for the Highslide popup effect -->
<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>
<script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/overview_visualize.js"></script>
{% endblock %}
{{ noun.title }}
{% block showcase %}
<h1 id="loaded_counter">0 / ??? Loaded</h1>
    <div id="container-p" class="panel row panel-default" style="min-width: 310px; height: 600px;">
        <div hidden class="alert alert-danger" role="alert" id="error_message">
            <strong>Oh snap!</strong> There was a problem generating your graph.
        </div>
        <div class="text-center" id="loading_message">
            <h3>Generating Graph</h3>
            <p>One moment please...</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                <span class="sr-only">50% Complete</span>
              </div>
            </div>
        </div>
    </div>
<div id="other_charts">

</div>

    {% for indicator in indicators %}
    <div id="container-{{ indicator.id }}" data-indicator-title="{{ indicator.get_long_name }}" class="panel row panel-default indicator-chart" style="min-width: 310px; height: 600px;">
        <div hidden class="alert alert-danger" role="alert" id="error_message">
            <strong>Oh snap!</strong> There was a problem generating your graph.
        </div>
        <div class="text-center" id="loading_message">
            <h3>Generating  {{ indicator.title }} Graph</h3>
            <p>One moment please...</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                <span class="sr-only">50% Complete</span>
              </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
