{% extends "base/bootstrap.html" %}
{% block title %}orchid{% endblock %}
{% block jumbotron %}
    <h1>Filtering Summary</h1>
    {% if filter.indicator %}<p>Indicator: {{ filter.indicator }}</p>{% endif %}
    {% if filter.input_user %}<p>Input Users: {% for u in filter.input_user %}{{ u.get_full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}
    {% if filter.start_date and filter.end_date %}<p>{{ filter.start_date }} - {{ filter.end_date }}</p>{% endif %}
{% endblock %}
{% block showcase %}
{{ form.media }}
    {% for row in entries %}
    {% if forloop.first %}
    <div class="sticky-wrap overflow-y"><table class=" table table-bordered sticky-enabled" style="margin: 0px; width: 100%;">
        <thead>
            <tr>{% for column in columns %}
                {% if forloop.first %}<th class="white"></th>{% else %}
                    <th class="white">{{ column }}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
    {% endif %}
    <tbody>
        <tr >
            {% for field in row %}
            {% if forloop.first %}
            
                {% elif forloop.counter == 2  %}
                <th class="white">{{ field }}</th>
                {% else %}
            <td class="{% if forloop.last %}last{% endif %} {% if field == 'No' %} danger {% elif field == 'Yes' %} success {% elif field == "" %} warning {% else %} active {% endif %}">{% if field == '' %}N/D{% else %}{{ field }}{% endif %}</td>
            {% endif %}
            {% endfor %}
        </tr>
    {% if forloop.last %}
    </tbody>
    </table>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}
