{% extends "base/bootstrap.html" %}
{% block title %}orchid{% endblock %}
{% block jumbotron %}<h1>All Indicators</h1>{% endblock %}
{% block showcase %}
{% for i in indicators %}
    <div class="row">
      {% if i.fields %}
      <h2><a href="{{ i.url }}">{{ i.title }}</a></h2>
      <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Label</th>
                <th>Visible</th>
                <th>Help Text</th>
                <th>Field Type</th>
              </tr>
            </thead>
            <tbody>
            {% for field in i.fields %}
              {% if field.label != "Location" and field.label != "User" and field.label != "Score" %}
                <tr>
                  <td><a href="/indicator/{{ i.id }}/field/{{ field.id }}/update/">{{ field.label }}</a></td>
                  <td >{% if field.visible %}True{% elif field.visible != true %}False{% endif %}</td>
                  <td >{{ field.help_text }}</td>
                  <td >{{ field.field_type }}</td>
                </tr>
              <div>
              {% endif %}
           {% endfor %}
            </tbody>
          </table>
    </div>

    {% endif %}
    </div>
{% endfor %}

{% endblock %}
